body{
    background-color: black;
}

.imagen{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.nombre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 80%;
    padding: 10px;
    margin: 0%;
}

.nombre_completo{
    color: aqua;
}

.nombre:hover{
    background-color: white;
    opacity: 80%;
    font-weight: bold;
}
